
{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}



{% load static %}
{% load crispy_forms_tags %}



<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                
                <li class="active">User Update</li>
            </ul>
        </div>
    </div>
</div>

<!-- /BREADCRUMB -->


<!-- row -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 mb-30">
                <h1 class="font-weight-bold">User Panel</h1>
                
            </div>

            <div class="col-sm-12 col-md-12 col-lg-9 col-xs-12">
                <div class="billing-details">
                    <div>

                        {% if messages %}
                        {% for message in messages %}
                        <div style="color: #d43f3a; font-size: medium">
                            {{ message|safe }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <h1 class="text-center font-weight-bold">Update your Information</h1>
                </div>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form.as_p  }}
                        
                    </fieldset>
                    <div class="form-group">
                        <button class="primary-btn" type="submit">Update</button>
                    </div>
                </form>

            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>






<footer class="page-footer font-small cyan darken-3" style="     background-color: #000000!important;">
 
  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic text-light">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic text-light">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic text-light">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic text-light">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic text-light">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          
          <a class="navbar-brand" href="#!">
    <img src="{{setting.icon.url}}" height="70" width="250" alt="mdb logo">
  </a>
        </div>

      </div>
      <!-- Grid column -->

    </div>

    <!-- Grid row-->


  </div>
  <hr class="w-100 mt-2 " style="background-color: #ffbf00!important;">
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright:
    <a href="" class=" text-muted"> mahedihassan8855@gmail.com</a>
  </div>
  <!-- Copyright -->

</footer>






{% endblock %}